body {
    background-color: rgb(0, 255, 170);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pd {
    padding: 2rem;
    border-radius: 4rem;
    background-color: #000000;
}

@import url('https://fonts.cdnfonts.com/css/caramelia');

.txt-sml {
    color: rgb(55, 0, 255);
    font-size: .68rem;
    font-family: 'Caramelia', sans-serif;
}

.h1 {
    text-align: center;
    animation: shadow 6s infinite;
    color: rgb(64, 0, 255);
    font-family: 'Caramelia', sans-serif;
    font-size: 3rem
}

@import url('https://fonts.cdnfonts.com/css/boldka-script');

@keyframes shadow {
    0%{text-shadow: #000000 0 0 15px;}
    25%{text-shadow: #ff0000 0 0 15px;}
    50%{text-shadow: #ffffff 0 0 15px;}
    75%{text-shadow: #b2ac00 0 0 15px;}
    100%{text-shadow: #1eff00 0 0 15px;}
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 2rem);
    gap: .85rem;
    width: 16rem;
    border: 1px solid #000000;
    border-radius: 1rem;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
}

.wd{
    height: 1rem;
    width: 2rem;
}

.screen {
    grid-column: 1 / 5;
    border-radius: .75rem;
    font-size: 2rem;
    height: 4rem;
    color: rgb(0, 0, 0);
    background-color: rgb(183, 183, 183);
    text-align: end;
    padding: .5rem;
    margin-top: .8rem;
    font-family: 'KG Two is Better Than One', sans-serif;
}

@import url('https://fonts.cdnfonts.com/css/kg-two-is-better-than-one');

.rr {
    border-radius: 80px;
    width: 40px;
    height: 32px;
    background-color: #333;
    color: white;
}

.ee {
    border-radius: 80px;
    width: 40px;
    height: 32px;
    background-color: #1900ff;
    color: white;
}